<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.example.Activity.ChatActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="com.example.Activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Activity.FunctionActivity"
            android:label="function_activity" />
        <activity
            android:name="com.example.Activity.FindPasswordActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.example.Activity.RegisterActivity"
            android:exported="true"></activity>
        <activity android:name="com.example.Fragment.Fragment_HomePage_Set" />
        <activity android:name="com.example.Fragment.Fragment_HomePage_Wallet" />
        <activity android:name="com.example.Activity.CaptureActivity" />
    </application>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

</manifest>